.env
etry.js
.vscode/
node_modules/
*/.DS_Store
.DS_Store
_compareTemp
*/_compareTemp
_notes
*/_notes
configs/
Dwsync.xml
Thumbs.db
dw_php_codehinting.config
*.mno
.ftpauth
secret.json
package-lock.json
js/general-built.js
stylesheets/css/style.*